{% extends 'base/base.html' %}
{% load static %}
{% block body %}

<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1>{{ video.titulo | default:"Vídeo sem título" }}</h1>
                    <iframe src="https://player.vimeo.com/video/{{ video.vimeo_id }}" width="640" height="800" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}