{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock %}

{% block body %}
    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>Curso de Python com Luciano Ramalho</h1>
            <p class="lead">Confira em breve mais informações sobre o curso ministrador pelo auto do livro Python
                Fluent</p>
        </div>


    </header>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mx-auto">
                        <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="https://outlook.us10.list-manage.com/subscribe/post?u=a1112a3a921c2f543ff245a8a&amp;id=181b2a9f5c"
                              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                              class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <h3>Entre na fila de espera</h3>
                                <div class="mc-field-group">
                                    <input type="email" value="" name="EMAIL" class="form-control mb-2 required email" id="mce-EMAIL" placeholder="Seu@email.com">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                                          name="b_a1112a3a921c2f543ff245a8a_181b2a9f5c"
                                                                                                          tabindex="-1"
                                                                                                          value="">
                                </div>
                                <div class="clear"><input type="submit" value="Cadastrar" name="subscribe"
                                                          id="mc-embedded-subscribe" class="button btn btn-secondary mb-2"></div>
                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Sobre Luciano Ramalho</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias, animi assumenda
                        cum
                        et ex expedita facilis id illum impedit, ipsam maiores, neque non perferendis perspiciatis
                        praesentium quia soluta tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                        aperiam assumenda blanditiis consequuntur cum eaque voluptate. Ad blanditiis consectetur cum
                        deserunt dicta esse eveniet nesciunt, provident totam veritatis. Dolore, itaque.</p>
                    <ul>
                        <li>Clickable nav links that smooth scroll to page sections</li>
                        <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                        <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the
                            navbar
                        </li>
                        <li>Minimal custom CSS so you are free to explore your own unique design options</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Services we offer</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore,
                        expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda
                        laborum vel, labore ut velit dignissimos.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact us</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat
                        voluptatem
                        dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae
                        ipsa
                        exercitationem, in, quo totam.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}